* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
body {
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
#slider {
  position: relative;
  height: 100vh;
}
.slide__main {
  height: 100%;
}
.slide__item {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  position: absolute;
  transform: translateX(100%);
}
.active{
  transform: translateX(0);
}
.smooth{
  transition: all linear .7s;
}
.one {
  background: url("../images/one.jpg") no-repeat center;
}
.two {
  background: url("../images/two.jpg") no-repeat center;
}
.three {
  background: url("../images/three.jpg") no-repeat center;
}
.four {
  background: url("../images/four.jpg") no-repeat center;
}
.five {
  background: url("../images/five.jpg") no-repeat center;
}
.six {
  background: url("../images/six.jpg") no-repeat center;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.arrow__item {
  cursor: pointer;
  font-size: 36px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: crimson;
  color: #f9f9f9;
  text-align: center;
  line-height: 55px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all linear 0.2s;
}
.arrow__item:hover {
  color: crimson;
  background-color: #f9f9f9;
}
.prev {
  left: 80px;
}
.next {
  right: 80px;
}
